
#navMenu {
    background-color: rgb(89, 83, 83);
}

#navMenu ul {
    padding: 0px;
    padding-left: 10px;
    margin :0px; 
    list-style: none;
}

#navMenu ul li {
    background-color: rgb(89, 83, 83);
    float: left;
    width: 100px;
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse for wide screens */
        display: block;
    }
}
