

<div id="navMenu" @onclick="ToggleNavMenu">
    <ul>
        <li>Home</li>
        <li>Settings</li>
        <li>About</li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
