@page "/"
@using System.Timers
@using KjellBlazorDemo.Engine
@using KjellBlazorDemo.Engine.Interfaces
@using KjellBlazorDemo.App.Components
@inject IPlayerManager Player
@inject IControls Controls
@inject IJSRuntime JsRunTime

<PageTitle>Hello</PageTitle>

<div id="Menu">
    <ul>
        <li>File</li>
        <li id="settingsMenuItem" @onclick="ShowSettings">Settings</li>
        <li>About</li>
        <li>@(Player.ToString())</li>
    </ul>    
</div>


<div id="mainDiv" @ref="mainDiv" @onkeydown="HandleKeyDown" @onkeydown:preventDefault tabindex="-1">    
    
    <!--todo: see if this is viable, for the moment it will render but the keydown doesnt work,
        nor does character select.  Seems we need to add a bunch of code which ends up negating the 
        benefit of putting this into a component. I think it might also be bad to have logic in the engine 
        and then in the codebehind for the compoment.
    <PlayerComponent @ref="PlayerComponent"></PlayerComponent>-->

    <div id="player" class="player" style="top: @(Player.PositionTop)px; left: @(Player.PositionLeft)px;
        background-image: url(@(Player.Character.Sprite)); ">
    </div>

</div>

<SettingsDialog @ref="SettingsDialog"></SettingsDialog>


