@page "/"
@using System.Timers
@using KjellBlazorDemo.Engine
@using KjellBlazorDemo.Engine.Interfaces
@using KjellBlazorDemo.App.Components
@inject IPlayerManager Player
@inject IControls Controls


<PageTitle>Hello</PageTitle>

<div id="Menu">
    <ul>
        <li>File</li>
        <li @onclick="ShowSettings">Settings</li>
        <li>About</li>
        <li>@(Player.ToString())</li>
    </ul>    
</div>



<div id="mainDiv" @ref="mainDiv" @onkeydown="HandleKeyDown" @onkeydown:preventDefault tabindex="0">    
    
    <div id="player" class="player" style="top: @(Player.PositionTop)px; left: @(Player.PositionLeft)px;
        background-image: url(@(Player.Character.Sprite)); "        
    >
    </div>

</div>

<SettingsDialog @ref="SettingsDialog"></SettingsDialog>


