body {
    overflow: hidden;
}


#mainDiv:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.trash {
    background-image: url(Images/Assetts/littered_dungeon.png);
    position: absolute;
}

.wall {
    background-image: url(Images/Assetts/wall25.png);
    position: absolute;
}

.troll {
    background-image: url(Images/Mobs/Ogre-All.png);
    position: absolute;
}

.fireball {
    background-image: url(Images/Assetts/fire.png);
    position: absolute;
}

#message {
    margin: auto;
    font: Brush Script MT;
    width: 50%;
    padding: 10px;
    color: black;
    font-style: italic;
    font-weight: 700;
}

#mainDiv {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    background-image: url("Images/GrassTile1124x1124.png");
    background-color: #cccccc;
    /*lazy way to make it look higher res [TODO]*/
    background-size: 100px;
    position: absolute;
    top: 1.5rem;
    left: 0px;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}

.player {
    overflow: hidden;
    position: absolute;
    /*border: 1px solid red;*/
}

.assettLabel {
    position: absolute;
    /*border: 1px solid red;*/
}

#Menu {
    background-color: rgb(89, 83, 83);
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
}

    #Menu ul {
        padding: 0px;
        padding-left: 10px;
        margin: 0px;
        list-style: none;
    }

        #Menu ul li {
            background-color: rgb(89, 83, 83);
            float: left;
            width: 100px;
            color: white;
        }

            #Menu ul li:last-child {
                width: 200px;
                right: 0;
                float: right;
            }


