body {
}

#mainDiv {
    background-image: url("Images/GrassTile1124x1124.png");
    background-color: #cccccc;
    /*lazy way to make it look higher res [TODO]*/
    background-size: 150px;
    position: absolute;
    top: 1.5rem;
    left: 0px;
    width: 100vw;
    height: 100vw;
}

#Menu {
    background-color: rgb(89, 83, 83);
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
}

    #Menu ul {
        padding: 0px;
        padding-left: 10px;
        margin: 0px;
        list-style: none;
    }

        #Menu ul li {
            background-color: rgb(89, 83, 83);
            float: left;
            width: 100px;
            color: white;
        }

            #Menu ul li:last-child {
                width: 200px;
                right: 0;
                float: right;
            }


