@page "/"
@using System.Timers
@using KjellBlazorDemo.Engine
@using KjellBlazorDemo.Engine.Interfaces
@using KjellBlazorDemo.App.Components
@inject IPlayer Player
@inject IControls Controls


<PageTitle>Hello</PageTitle>

<div id="Menu">
    <ul>
        <li>File</li>
        <li @onclick="ShowSettings">Settings</li>
        <li>About</li>
    </ul>
</div>



<div id="mainDiv" @ref="mainDiv" @onkeydown="HandleKeyDown" @onkeydown:preventDefault tabindex="0">    
    
    <h1>@(Player.Character.Name)</h1>
    <div id="player" class="player" style="top: @(Player.PositionTop)px; left: @(Player.PositionLeft)px;
        background-image: url(@(Player.Character.Sprite)); "
        
    >
    </div>

</div>

<SettingsDialog @ref="SettingsDialog"></SettingsDialog>

@code {

    private ElementReference mainDiv;
    private Timer? _timer;

    private void HandleKeyDown(KeyboardEventArgs a) {
        Controls.KeyDown(a.Code); 
    }

    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (first)
        {
            await mainDiv.FocusAsync();
        }
    }

    protected override Task OnInitializedAsync()
    {
        _timer = new Timer();
        _timer.Interval = 20;
        _timer.Elapsed += TimerElapsed;
        _timer.AutoReset = true;
        _timer.Enabled = true;

        return base.OnInitializedAsync();
    }

    private void TimerElapsed(Object? source, ElapsedEventArgs a)
    {
        Redraw();
    }

    private void Redraw()
    {
        this.StateHasChanged();
    }
}
